.timeline {
    display: flex;
  justify-content: space-between;
    height: 30px;
    background-color: #f1f1f1;
  }

  .baseT {
    display: flex;
    justify-content: space-between;
      height: 5px;
      background-color: #f1f1f1;
  }
  
  .stripe {
    width: 0.1px;
    background-color: #888;
  }

  .stripeSmall{
    width: 0.1px;
    background-color: #888;
    height: 10px;
  }


  .timelineTop {
    display: flex;
  justify-content: space-evenly;
    /* height: 30px; */
    /* background-color: #f1f1f1; */
  }
  